.Rproj.user
.Rhistory
.RData
fort.6
csv input
ectotherm.dll
m3.png
k1.png
k10.png
k11.png
k12.png
k13.png
k14.png
k2.png
k3.png
k4.png
k5.png
k6.png
k7.png
k8.png
m1.png
m2.png
a1.png
a2.png
a3.png
a4.png
a5.png
ectoin - Copy.csv
dragon_forecast.csv
environ_drink.csv
environ_nodrink.csv
forecast.csv
fort.0
gecko_forecast.csv
raw output 0_5cm noshade.zip
raw output 0_5cm shade.zip
skink_forecast.csv
snake_forecast.csv
yearout_loop.csv
yearsout_loop.csv
