.Rproj.user
.Rhistory
.RData
fort.6
csv input
ectotherm.dll
m3.png
k1.png
k10.png
k11.png
k12.png
k13.png
k14.png
k2.png
k3.png
k4.png
k5.png
k6.png
k7.png
k8.png
m1.png
m2.png
a1.png
a2.png
a3.png
a4.png
a5.png
ectoin - Copy.csv
dragon_forecast.csv
environ_drink.csv
environ_nodrink.csv
forecast.csv
fort.0
gecko_forecast.csv
raw output 0_5cm noshade.zip
raw output 0_5cm shade.zip
skink_forecast.csv
snake_forecast.csv
yearout_loop.csv
yearsout_loop.csv
ectoin.csv
humid.csv
metout.csv
rainfall.csv
shadhumid.csv
shadmet.csv
shadpot.csv
shadsoil.csv
soil.csv
soilmoist.csv
soilpot.csv
tigersnake_forecast.csv
enbal.csv
environ.csv
holometab_test.R
masbal.csv
stagefreqDF.csv
yearout.csv
yearout1.csv
yearout10.csv
yearout2.csv
yearout3.csv
yearout4.csv
yearout5.csv
yearout6.csv
yearout7.csv
yearout8.csv
yearout9.csv
debout.csv
Healesville microclimate.zip
Healesville_environ.zip
D1.5_200cm.pdf
D1.5_200cm_environ.csv
D1.5cm.pdf
D1.5cm_D100cm.pdf
D1.5cm_D100cm_environ.csv
D1.5cm_D100cm_environ.zip
D1.5cm_environ.csv
D100cm.pdf
D100cm_environ.csv
D10cm.pdf
D10cm_environ.csv
D15cm.pdf
D15cm_environ.csv
D3.5cm.pdf
D3.5cm_environ.csv
D30cm.pdf
D30cm_environ.csv
D5cm.pdf
D5cm_environ.csv
D60cm.pdf
D60cm_environ.csv
DEP.csv
MAXSHADES.csv
